/* *{
    background-color: aqua;
} */

.col_name {
  height: 70px;
  width: 500px;
  background-color: blue;
}

.rgb {
  height: 70px;
  width: 500px;
  background-color: rgb(255, 0, 0);
}

.hex {
  height: 70px;
  width: 500px;
  background-color: yellow;
}

p {
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
}
