* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  /* width: 100px; */
  /* height: 100px; */
  background-color: pink;
  display: flex;
}

@media (width: 501px) {
  div {
    background-color: blue;
  }
}

@media (min-width: 700px) {
  div {
    background-color: green;
  }
}

@media (max-width: 300px) {
        div{
        background-color: yellow;
                 
    }
}

}
