* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  margin: auto;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
}

.iner{
    background-color: blue;
    height: 200px;
    width: 200px;
}
