* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  height: 50px;
  width: 100%;
  background-size: cover;
  background-image: url("./images/amazon-logo6.webp");
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 20px;
}

.add-second {
  font-size: 1rem;
  margin-left: 10px;
}
.add-icon {
  display: flex;
  align-items: center;
}
